<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/Stylesheet/stylesheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/bootstrap-grid.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar col-3">
        <ul class="navbar-list">
            <li class="navbar-item ">
                <a href="~/Areas/Admin/Views/Account/AdminTrangChu.cshtml" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Trang chủ</a>
            </li>
            @*<li class="navbar-item">
                <a href="~/Booking/Index" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Đặt phòng</a>
            </li>*@

        </ul>
    </div>
</body>
</html>

